@model IEnumerable<RMUI.Models.DiningTableDisplayModel>

@{
    ViewData["Title"] = "View Dining Tables";
}

<h1>Dining Tables</h1>

<p>
    <a asp-action="InsertDiningTable">Create New Dining Table</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDiningTable", new { id = item.Id }) |
                    @if (!item.IsBlocked)
                        @Html.ActionLink("Block", "BlockDiningTable", new { id = item.Id, status = true }) 
                    @if (item.IsBlocked)
                        @Html.ActionLink("Unblock", "BlockDiningTable", new { id = item.Id, status = false }) 
                    |

                    @Html.ActionLink("Delete", "DeleteDiningTable", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
