@model IEnumerable<OrderStatistic>;

<div style="margin:10px;">

    @Html.ActionLink("Day", "Statistics", new { statistic = 0 }) |

    @Html.ActionLink("Week", "Statistics", new { statistic = 1 }) |

    @Html.ActionLink("Month", "Statistics", new { statistic = 2 })
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Food Type
            </th>
            <th>
                Food Name
            </th>
            <th>
                Total Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @{


            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FoodName.FoodType
                    </td>
                    <td>
                        @item.FoodName.FoodName
                    </td>
                    <td>
                        @item.Amount
                    </td>
                </tr>

            }

        }

    </tbody>
</table>
