@model IEnumerable<RMUI.Models.FoodTypeDisplayModel>

@{
    ViewData["Title"] = "View Food Types";
}

<h1>Food Types</h1>

<p>
    <a asp-action="InsertFoodType">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodType)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteFoodType", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
