@model RMUI.Models.PaymentOptionsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PaymentOptionsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CompanyPayments" /> @Html.DisplayNameFor(model => model.CompanyPayments)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cash" /> @Html.DisplayNameFor(model => model.Cash)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CreditCards" /> @Html.DisplayNameFor(model => model.CreditCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VisaCards" /> @Html.DisplayNameFor(model => model.VisaCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MasterCardCards" /> @Html.DisplayNameFor(model => model.MasterCardCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MaestroCards" /> @Html.DisplayNameFor(model => model.MaestroCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DinersCards" /> @Html.DisplayNameFor(model => model.DinersCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AmericanExpressCards" /> @Html.DisplayNameFor(model => model.AmericanExpressCards)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApplePay" /> @Html.DisplayNameFor(model => model.ApplePay)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

