@model RMUI.Models.AdDisplayModel

@{
    ViewData["Title"] = "View";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>Table advertisement</h1>
<hr />
<div class="text-center">
        <form enctype="multipart/form-data" id="form" asp-action="Index" method="post"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Ad1" class="control-label"></label>
                <input type="file" id="ad1" name="id1" />
                <input type="hidden" asp-for="Ad1" />



                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    <img style="margin:10px;" width="250" height="250" name="imageHolder1" id="imageHolder1" src="@Model.Ad1">
                    <div style="display:flex; flex-direction:column; justify-content:center">
                        <span>@ViewBag.DisableAdLabel</span>
                        <label class="switch">
                            <input asp-for="Ad1Blocked" id="ad1Text" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ad2" class="control-label"></label>
                <input type="hidden" asp-for="Ad2" />

                <input name="id2" type="file" id="ad2" />

                <span asp-validation-for="Ad2" class="text-danger"></span>
                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    <img style="margin:10px;" width="250" height="250" name="imageHolder2" id="imageHolder2" src="@Model.Ad2">
                    <div style="display:flex; flex-direction:column; justify-content:center">
                        <span>@ViewBag.DisableAdLabel</span>
                        <label class="switch">
                            <input id="ad2Text" asp-for="Ad2Blocked" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Ad3" class="control-label"></label>
                <input type="hidden" asp-for="Ad3" />

                <input name="id3" type="file" id="ad3" />

                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    <img style="margin:10px;" width="250" height="250" name="imageHolder3" id="imageHolder3" src="@Model.Ad3">
                    <div style="display:flex; flex-direction:column; justify-content:center">
                        <span>@ViewBag.DisableAdLabel</span>
                        <label class="switch">
                            <input id="ad3Text" asp-for="Ad3Blocked" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>

                </div>
            </div>

        </form>
</div>

<script>
    function readURL(input, target) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(target).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

  

    function saveOnStateChanged(selector) {
        $(selector).change(() => {
            $('#form').submit()
        })
    }


    $(document).ready(function ($) {
        $("#ad1").change(function () {
            readURL(this, '#imageHolder1');
        });
        $("#ad2").change(function () {
            readURL(this, '#imageHolder2');
        });
        $("#ad3").change(function () {
            readURL(this, '#imageHolder3');
        });


        saveOnStateChanged('#ad1Text')
        saveOnStateChanged('#ad2Text')
        saveOnStateChanged('#ad3Text')
        saveOnStateChanged("#ad1")
        saveOnStateChanged("#ad2")
        saveOnStateChanged("#ad3")
    });

    

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
